<!DOCTYPE html>
<html>
    <head>
        <title>Oslo bikeshare feed</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <script defer src="/assets/js/app.js"></script>
    </head>
    <body>
        <main>
            <h1>Bikeshare feed</h1>
            <p id="error" class="error {{#if error}}error--show{{else}}error--hide{{/if}}">{{{errorMessage}}}</p>
            <p class="last-update">Last update: <span id="lastUpdateText">{{{lastUpdateText}}}</span></p>
            <ul id="bikeList">
                {{#each stations}}
                <li id="station-{{{id}}}">
                    <div class="item-row">
                        <span class="name">{{{name}}}</span>
                    </div>
                    <div class="item-row">
                        <span class="sr-only">Tilgjengelige sykler:</span>
                        <img class="bike-icon" alt="" src="/assets/icons/bicycle.svg">
                        <span>{{{numBikesAvailable}}}</span>
                    </div>
                    <div class="item-row">
                        <span class="sr-only">Tilgjengelige låser:</span>
                        <span class="dock-icon" aria-hidden="true"></span>
                        <span>{{{numDocksAvailable}}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </main>
    </body>
</html>